html,
body,
#__next {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", Menlo, monospace;
}

a {
  color: #fff;
  text-underline-offset: 0.25em;
}