.mainBox {
  flex-direction: column;
}

.markdownOutput {
  width: 60%;
}

@media only screen and (min-width: 881px) {
  .mainBox {
    flex-direction: row;
  }
  .markdownOutput {
    width: 100%;
  }
}
